.colorswatch {
  display: inline-block;
  vertical-align: top;
  margin: 0.3rem;
}

.colorswatch.colorswatch_tiny {
  min-height: 1rem;
  min-width: 2rem;
}

.colorswatch.colorswatch_small {
  min-height: 4rem;
  min-width: 6rem;
}

.colorswatch.colorswatch_middle {
  min-height: 6rem;
  min-width: 8rem;
}

.colorswatch.colorswatch_large {
  min-height: 8rem;
  min-width: 10rem;
}

.colorswatch .colorswatch_swatch {
  width: 100%;
  height: 66%;
  border-radius: 0.3rem;
}

.colorswatch .colorswatch_info {
  width: 100%;
  height: 34%;
  font-size: 85%;
  text-align: center;
  padding: 0.3rem 0 0;
}
