.colorswatch {
  display: inline-block;
  vertical-align: top;
  margin: 0.3rem;
}

.colorswatch.colorswatch_tiny {
  height: 1rem;
  width: 2rem;
}

.colorswatch.colorswatch_small {
  height: 4rem;
  width: 6rem;
}

.colorswatch.colorswatch_middle {
  height: 6rem;
  width: 8rem;
}

.colorswatch.colorswatch_large {
  height: 8rem;
  width: 10rem;
}

.colorswatch .colorswatch_swatch {
  width: 100%;
  height: 66%;
  border-radius: 0.3rem;
}

.colorswatch .colorswatch_info {
  width: 100%;
  height: 34%;
  font-size: 85%;
  text-align: center;
  padding: 0.3rem 0;
}
